
<form method="post">
    <span>Is good?</span>
    <input type="checkbox" name="isGood" value="true" />
    <input type="hidden" name="isGood" value="false" />
    <button class="btn btn-primary">Submit</button>
</form>